#################################
# Configuration for 'git archive'
# See https://git-scm.com/docs/git-archive#ATTRIBUTES

# Don't include e2e tests in the distribution artifact, to reduce size.
e2e export-ignore
